<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
<div ng-app="myApp" ng-controller="myCtrl">
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Proxy Search</h1>
      <p>Search any shown IP address to get details.</p>
      <a href="https://tools.keycdn.com/geo">Uses IP Location Finder by KeyCDN</a>
    </div>
    <br>
    <input type='text' ng-model="search_ip">
    <button id='search' ng-click="search()">Search</button>
    <div id='results'>
      <ul id='results_list'>
      </ul>
    </div>
    <br>
    <h3>List of 20 proxy IP addresses:</h3>
    <a href="https://www.iblocklist.com">Data sourced from I-Blocklist</a>
    <br><br><span>Page: </span><span>{{page_num+1}}</span><br>
    <button id='prev' ng-click="prev()">Previous</button>
    <button id='next' ng-click="next()">Next</button>
    <table id="results_table">
    </table>
  </div>
</div>

<script>
  console.log("page loaded");
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope) {
  $scope.search_ip = '';
  $scope.page_num = 0;
  $scope.get_table = function () {
    $.post('/load_ip', {
      data: $scope.page_num
    }, function (data) {
      console.log("Loading table");
    })
    .done(function (data) {
      console.log(data);
      for (var i = 0; i < data.length; i++) {
        $('#results_table').append('<tr><td>'+data[i]+'</td></tr>');
      }
    });
  }
  $scope.get_table();
  $scope.prev = function () {
    if ($scope.page_num > 0) {
      $('#results_table').empty();
      $scope.page_num--;
      $scope.get_table();
    }
  }
  $scope.next = function () {
    if ($scope.page_num <= 290) {
      $('#results_table').empty();
      $scope.page_num++;
      $scope.get_table();
    }
  }
  $scope.update_data = function () {
    console.log("clicked");
    var ip = "www.google.com";
    $.get('/update_data', function (req, res) {
      console.log("Updating data...");
    });
  }
  $scope.search = function () {
    $.post('/search', {
        data: $scope.search_ip
      }, function (data) {
      console.log("Searching...");
    })
    .done(function (data) {
      console.log(data);
      if (data == "IP address not found") {
        $('#results_list').empty();
        $('#results_list').append('<li>IP address not found</li>');
      } else {
        $('#results_list').empty();
        $('#results_list').append('<li>ISP: '+data.data.geo.isp+'</li>');
        $('#results_list').append('<li>Host: '+data.data.geo.host+'</li>');
        $('#results_list').append('<li>Country: '+data.data.geo.country_name+'</li>');
        $('#results_list').append('<li>Region: '+data.data.geo.region_name+'</li>');
        $('#results_list').append('<li>City: '+data.data.geo.city+'</li>');
      }
    })
    .fail(function () {
      console.log("failed");
    });
  }

  });
</script>



</body>
</html>
